$primaryColor : #160b01;
$secondaryColor : #999595;
$tertiaryColor : #c6c6c6;
$disruptiveColor: #4A65C5;
$white : #fff;
$black : #00151D;

$mainFont: 'Open Sans', sans-serif;
$secondaryFont: 'Oswald', sans-serif;
